.content1 {
    .clr {
        color: black;
        font-size: 20px;
        font-family: 'Arimo', sans-serif;
    }
    .lh {
        line-height: 41px;
    }
    .left {
        margin-left: 30px;
    }
    .ml {
        float: left;
    }
    .padd {
        padding: 5px;
    }
    .navbar-toggle .icon-bar {
        background-color: black;
    }
    .btnn {
        color: white;
        padding: 10px;
        text-align: center;
        border-radius: 86px;
        background-color: #e896b2;
        border: none;
        font-size: 18px;
        font-family: 'Arimo', sans-serif;
    }
    .btnnright {
        color: black;
        padding: 10px;
        border-radius: 86px;
        background-color: white;
        border: none;
        font-size: 18px;
        margin-left: -61px;
        font-family: 'Arimo', sans-serif;
    }
    .btnnright2 {
        color: black;
        padding: 10px;
        border-radius: 86px;
        background-color: white;
        border: none;
        font-size: 18px;
        margin-left: 14px;
        font-family: 'Arimo', sans-serif;
    }
    .para {
        text-align: center;
        font-family: 'Arimo', sans-serif;
    }
    .mt {
        margin-top: 100px;
    }
    .mt198 {
        margin-top: 198px;
    }
    .mt200 {
        margin-top: 250px;
    }
    .mid_cap {
        text-align: center;
    }
    .bimg {
        background-position: center;
        background-size: contain;
    }
    .line_height {
        line-height: 200%;
        text-align: left;
        font: 40px;
        font-family: 'Arimo', sans-serif;
    }
    .line_height3 {
        line-height: 1.6;
        text-align: left;
        font: 30px;
        font-family: 'Arimo', sans-serif;
    }
    .lp_height {
        line-height: 200%;
        text-align: left;
        font-size: 15px;
        font-family: 'Arimo', sans-serif;
    }
    .lp_height1 {
        font-size: 15px;
        line-height: 1.6;
        text-align: center;
        color: gray;
        font-family: 'Arimo', sans-serif;
    }
    .lp_height11 {
        font-size: 15px;
        line-height: 1.6;
        text-align: left;
        color: gray;
        font-family: 'Arimo', sans-serif;
    }
    .h_size {
        font-size: 30px;
        line-height: 1.6;
        text-align: center;
    }
    .color {
        color: gray;
        font-family: 'Arimo', sans-serif;
    }
    .mt30 {
        margin-top: 30px;
    }
    .btnn_mid {
        margin-left: 449px;
        color: white;
        padding: 10px;
        text-align: center;
        border-radius: 86px;
        background-color: #e896b2;
        border: none;
        font-size: 18px;
        font-family: 'Arimo', sans-serif;
    }
    .fa-arrow-right {
        margin-right: 5px;
        color: gray;
        font-family: 'Arimo', sans-serif;
    }
    .mt20 {
        margin-top: 20px
    }
    .mt100 {
        margin-top: 100px;
    }
    .h1_size {
        line-height: 1.6;
        text-align: center;
        font-size: 20px;
        color: gray;
        font-family: 'Arimo', sans-serif;
    }
    .size {
        width: 400px;
        height: 260px;
        margin: 20px;
        border-radius: 11px;
        box-shadow: 0px 0px 30px #decfd4;
        color: black;
        position: relative;
        padding: 40px 40px;
        font-family: 'Arimo', sans-serif;
    }
    .box3 {
        width: 400px;
        height: 260px;
        margin: 20px;
        border-radius: 11px;
        box-shadow: 0px 0px 30px #decfd4;
        color: white;
        position: relative;
        margin-top: 124px;
        padding: 40px 40px;
        background-color: lightpink;
        font-family: 'Arimo', sans-serif;
    }
    .box4 {
        width: 400px;
        height: 260px;
        margin: 20px;
        border-radius: 11px;
        box-shadow: 0px 0px 30px #decfd4;
        color: black;
        position: relative;
        padding: 40px 40px;
        font-family: 'Arimo', sans-serif;
    }
    .navhead1 {
        text-align: center;
    }
    .btnn_midd {
        color: white;
        padding: 10px;
        text-align: center;
        border-radius: 86px;
        background-color: #e896b2;
        border: none;
        font-size: 18px;
        font-family: 'Arimo', sans-serif;
    }
    .image_icon {
        min-height: 100px;
        min-width: 100px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: table-cell;
        vertical-align: middle
    }
    .gradient {
        background-image: linear-gradient(to bottom right, #ffadb4e0, #ffb7a2);
    }
    .display {
        display: inline-block;
    }
    @media only screen and (max-width: 640px) {
        .size {
            width: 400px;
            height: 260px;
            margin: 20px;
            border-radius: 11px;
            box-shadow: 0px 0px 30px #decfd4;
            color: black;
            position: relative;
            padding: 20px 20px;
            font-family: 'Arimo', sans-serif;
            text-align: center;
        }
        .box3 {
            width: 400px;
            height: 260px;
            margin: 20px;
            border-radius: 11px;
            box-shadow: 0px 0px 30px #decfd4;
            color: white;
            position: relative;
            margin-top: 124px;
            padding: 20px 20px;
            background-color: lightpink;
            font-family: 'Arimo', sans-serif;
            text-align: center;
        }
        .box4 {
            width: 400px;
            height: 260px;
            margin: 20px;
            border-radius: 11px;
            box-shadow: 0px 0px 30px #decfd4;
            color: black;
            position: relative;
            padding: 20px 20px;
            font-family: 'Arimo', sans-serif;
            text-align: center;
        }
        .mt198 {
            margin-top: 100px;
        }
        .btnnright {
            color: black;
            padding: 10px;
            border-radius: 86px;
            background-color: white;
            border: none;
            font-size: 18px;
            margin-left: -14px;
            font-family: 'Arimo', sans-serif;
        }
        .mt100 {
            margin-top: 0px;
        }
        .foot {
            margin-top: 50px;
        }
        .mt {
            margin-top: 10px;
        }
    }
    @media only screen and (max-width: 768px) {
        .box3 {
            margin: 5px;
            padding: 7px 7px;
        }
        .size {
            margin: 5px;
            padding: 7px 7px;
        }
        .box4 {
            margin: 5px;
            padding: 7px 7px;
        }
    }
    @media only screen and (max-width: 1024px) {
        .box3 {
            width: 400px;
            height: 260px;
            margin: 5px;
            border-radius: 11px;
            box-shadow: 0px 0px 30px #decfd4;
            color: white;
            position: relative;
            margin-top: 124px;
            padding: 7px 7px;
            background-color: lightpink;
            font-family: 'Arimo', sans-serif;
        }
        .size {
            width: 400px;
            height: 260px;
            margin: 5px;
            border-radius: 11px;
            box-shadow: 0px 0px 30px #decfd4;
            color: black;
            position: relative;
            padding: 7px 7px;
            font-family: 'Arimo', sans-serif;
        }
        .box4 {
            width: 400px;
            height: 260px;
            margin: 5px;
            border-radius: 11px;
            box-shadow: 0px 0px 30px #decfd4;
            color: black;
            position: relative;
            padding: 7px 7px;
            font-family: 'Arimo', sans-serif;
        }
        .mt100 {
            margin-top: 0px;
        }
        .btnnright {
            color: black;
            padding: 10px;
            border-radius: 86px;
            background-color: white;
            border: none;
            font-size: 18px;
            float: right;
        }
        .btnnright2 {
            color: black;
            padding: 10px;
            border-radius: 86px;
            background-color: white;
            border: none;
            font-size: 18px;
            margin-left: 14px;
            font-family: 'Arimo', sans-serif;
        }
        .foot {
            margin-top: 50px;
        }
    }
}