<template>
    <div class="container-fluid">
       <nav class="container ">
            <div class="container-fluid ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle clr" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar "></span>
                        <span class="icon-bar "></span>
                        <span class="icon-bar "></span>                        
                    </button>
                    <a class="navbar-brand clr" href="#">WebSiteName</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right clr display">
                            <li><a class="clr lh" href="#"> Sign Up</a></li>
                            <li><a  class="clr lh" href="#"> Login</a></li>
                            <li><a href="#"><button class="btnn clr gradient">Get Started</button></a></li>
                        </ul>
                </div>
            </div>
        </nav>
        <div class="container" >
        <div class="container row mt">
            <div class="col-md-4 para">
                <h1 class="line_height">Hypothyroidism is Hard.It does not hard to be</h1>
                <p class="lp_height">simpl Lorem Ipsum has been  Ipsum has been the industry's standard dummy text ever since the</p>
                 <button class="btnn clr ml gradient">Get Started</button>
                 <button class="btnnright ">Learn more<i class="fas fa-arrow-right"></i></button>
            </div>
            <div class="col-md-8 ">
                 <img src="images/homeimg1.png" class=" bimg img-fluid">
            </div>
            
        </div>
        <div class="container row mt">
            <div class="col-md-6">
                 <img src="images/img1.png" class="img-fluid">
            </div>
            <div class="col-md-6 ">
                <h1 class="line_height">The Best And Most Complete Care For Hypothyroidism</h1>
                <p class="lp_height color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu and scrambled it to make a type specimen book.</p>
                <button class="btnn clr gradient">Get Started</button>
            </div>

        </div>
        <div class="container mt mid_cap">
            <div class="col-md-12">
            <h1 >Lorem Ipsum Is Simply Dummy  <br>And Typesetting Industry.</h1>
            </div>
            </div>
        <div class="row mt" >
            
            <div class="col-md-4 ">

                <img src="images/icon1.png" class="image_icon" >
                    <h3 class="h_size"> Get your thyroid tested at  your home</h3>
                       
                    <p class="lp_height1"> Lorem ipsum dola. Dolor sed viverra consectetur adipiscing elit, sed do eiusmod tempor. Nunc aliquet bibendum enim facilisis gravida. </p>
                
            </div>
            <div class="col-md-4 ">
                 <img src="images/icon2.png" class="image_icon" >
                    <h1 class="h_size" >Get treated by the thyroid doctors</h1>
                   <p class="lp_height1"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor sed. </p>
                      
            </div>
            <div class="col-md-4 ">
                 <img src="images/icon3.png" class="image_icon" >
                     <h1 class="h_size">Your medication delievered to your door</h1>
                       
                       <p class="lp_height1"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor sed .</p>
            </div>
        </div>    
        <div class="container mt">
            <div class="col-md-12 navhead1">
             <button class="btnn_midd gradient">Get Started</button>
             </div>
        </div>
       
        <div class="container mt100">
            <div class="row">
                <div class="col-md-4 mt198">
                    <h1 class="line_height" >What Does It Include</h1>
                    <p class="lp_height11">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor sed viverra .</p>
                    <button class="btnn mt20 gradient">Get  Started</button>
                </div>
                <div class="col-md-4">
                    <div class="row">
                      <div class="size">
                          <img src="images/icon2.png" >
                          <h5 class="h1_size" >Virtual Consultation With a thyroid doctor</h5>
                          <p class="color">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                      </div>
                     </div>
                      <div class="row">
                          <div class="size">
                          <img src="images/icon4.png" >
                          <h5 class="h1_size" >Virtual Consultation With a thyroid doctor</h5>
                          <p class="color">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                      </div>
                     </div>
                      <div class="row">
                          <div class="size">
                                <img src="images/icon5.png" >
                                <h5 class="h1_size" >Virtual Consultation With a thyroid doctor</h5>
                                <p class="color" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                     <div class="row">
                      <div class="box3 gradient">
                          <img src="images/icon8.png" >
                          <h5 class="h1_size " >Virtual Consultation With a thyroid doctor</h5>
                          <p class="color">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                      </div>
                     </div>
                      <div class="row">
                          <div class="box4">
                                <img src="images/icon7.png" >
                                <h5 class="h1_size " >Virtual Consultation With a thyroid doctor</h5>
                                <p class="color ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                            </div>
                     </div>
                 
                     </div>

                </div>
                <div class="container mt100">
                    <div class="row">
                        <div class="col-md-4 ">
                            <h2 class="line_height3 ">Board-Certified Thyroid Doctors Who Love What They Do</h2>
                            <p class="lp_height1 color" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                            <button class="btnn mt20 gradient">Get  Started</button>
                            <button class="btnnright2 ">Learn more<i class="fas fa-arrow-right"></i></button>
                        </div>
                        <div class="col-md-8 ">
                             <img src="images/img2.png" class="img-fluid" >

                        </div>
                    </div>
                </div>
                <div class="container mt100">
                    <div class="row">
                        <div class="col-md-6">
                             <img src="images/people.png" class="img-fluid" >
                        </div>
                        <div class="col-md-6">
                            <h1 class="line_height3 " >Check What Our Client Say About Us</h1>
                            <p class="lp_height1"  >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the it to make a type specimen book. </p>
                        </div>

                    </div>
                </div>
                <div class="container mt">
                    <div class="col-md-12 navhead1">
                        <h1 >Is Butterfly Right For me</h1>
                        <p class="lp_height1 mt30"  >Lorem ipsum dolor si nec feugiat. Nunc aliquet <br>bibendum enim facilisis gravida</p>
                         <button class="btnn_midd mt30 gradient">Get Started</button>
                    </div>
                </div>
         
            </div>
        <nav class="container foot">
            <div class="container-fluid ">
                <div class="navbar-header">
                    <a class="navbar-brand clr" href="#">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav navbar-right clr display">
                    <li><a class="clr lh" href="#"> Privacy policy</a></li>
                    <li><a  class="clr lh" href="#"> Blog</a></li>
                    <li><a  class="clr lh" href="#"> Follow Us</a></li>
                 
                </ul>
            </div>
        </nav>
            
      </div>  
            
      </div>  

</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
